@model EventPlanner.ViewModels.EventOrganiserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Event.EventId" />
            <input type="hidden" asp-for="Event.EventOrganiser.OrganiserId" />
            <input type="hidden" asp-for="Organiser.OrganiserId" />            
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.EventName" class="control-label"></label>
                <input asp-for="Event.EventName" class="form-control"/>
                <span asp-validation-for="Event.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventDescription" class="control-label"></label>
                <input asp-for="Event.EventDescription" class="form-control"/>
                <span asp-validation-for="Event.EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCategoryId" class="control-label">Category</label>
                @Html.DropDownListFor(
                    model => model.SelectedCategoryId,
                    new SelectList(Model.Categories, "CategoryId", "CategoryName"),
                    "Select a category",
                    new { @class = "form-control" })
                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Event.EventDate" class="control-label"></label>
                <input asp-for="Event.EventDate" class="form-control"/>
                <span asp-validation-for="Event.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TicketPrice" class="control-label"></label>
                <input asp-for="Event.TicketPrice" class="form-control"/>
                <span asp-validation-for="Event.TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.AvailableTickets" class="control-label"></label>
                <input asp-for="Event.AvailableTickets" class="form-control"/>
                <span asp-validation-for="Event.AvailableTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

